@page
@model TheThings_FirstAspApp.Pages.Things.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>List of Things</h2>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search..."
                   asp-for="SearchTerm">
            <span class="input-group-btn">
                <button class="btn btn-outline-secondary">Search</button>
            </span>
        </div>
    </div>
</form>

<div>
    <table class="table">
        @foreach (var thing in Model.Things)
        {
            <partial name="_ListItem" model="thing" />
        }
    </table>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit">Add thing!</a>
</div>
<br />
<div>
    @Model.ConfigMsg
</div>



